@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");

:root {
  --cor-de-fundo: #1e1e1e;
  --turquesa: #30D5C8;
  --branco: #ffffff;
  --botao-ativo: #3a375e;
  --botao-inativo: rgba(58, 55, 94, 0.5);
  --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: "Chakra Petch", sans-serif;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-principal {
  text-align: left;
  width: 100%;
  font-size: 32px;
}

.titulo-principal span {
  color: var(--turquesa);
}

.botoes {
  display: block; /* No mobile, os botões ficam um em cima do outro */
}

.botao {
  font-family: "Chakra Petch", sans-serif; /* Corrigido aqui */
  background-color: var(--botao-inativo);
  color: var(--branco);
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 18px;
  align-items: center;
  width: 100%;
  border-bottom: 4px solid var(--botao-ativo);
  border-left: 2px solid var(--botao-ativo);
  border-right: 2px solid var(--botao-ativo);
  border-top: none;
  cursor: pointer; /* Dica: adiciona a mãozinha ao passar o mouse */
}

.botao:first-child {
  border-radius: 40px 40px 0 0;
}

/* Estado Ativo */
.botao.ativo {
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(--turquesa);
}

/* Agrupando todas as mudanças para Desktop (Tablet em diante) */
@media screen and (min-width: 768px) {
  .botoes {
    display: flex; /* No desktop, os botões ficam lado a lado */
  }

  .botao:first-child {
    border-radius: 40px 0 0 0; /* Ajusta o canto apenas da esquerda */
  }

  .botao:last-child {
    border-radius: 0 40px 0 0; /* Ajusta o canto apenas da direita */
  }
}